autopep8
coverage
jupyter_sphinx
jyquickhelper
keyring
matplotlib
nbconvert>=6.0.2
pandas
pillow
pycodestyle
pylint>=2.14.0
pyquickhelper>=1.10
pyquicksetup
scikit-learn
scipy
sphinx_gallery
sphinxcontrib.imagesvg
tornado
wheel
